h1{
    font-size: x-large;
    color: rgb(7, 7, 7);
}
h3{
    color: rgb(2, 3, 2);
}
body{
    background: url(imagenes/123.jpg);
    text-align: center;
    font-size: 60px;
}
label{
    color: rgb(12, 11, 11);
}
select{
    color: rgb(2, 2, 2);
}
div{
    width: 960px;
    margin: auto;
}