header{
    background: #2c3e50;
    color:  #fff; 
}
.main{
    background-color: lightblue;
}
.color1{
    background-color: lightseagreen;
    color:maroon;
}
aside {
background-color: mediumorchid;
}
footer{
    background-color: mediumspringgreen;
    color: midnightblue;

}
h1{
    background-color: paleturquoise;
    color: black;
}
h3{
    color: black;
}

